<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Register</h1>

<form th:action="@{/registration}" method="post" th:object="${user}">
    <div th:if="${param.emailError}">
        Given email already user for other account
    </div>
    <div>
        <label>Username: <input th:field="*{username}" type="text" name="username" /></label>
    </div>
    <div>
        <label>Email: <input th:field="*{email}" type="email" name="email" /></label>
    </div>
    <div>
        <label>Password: <input th:field="*{password}" type="password" name="password" /></label>
    </div>
    <div>
        <label>Department:
            <select th:field="*{department}">
                <option th:each="dep : ${departments}" th:value="${dep}" th:text="${dep}">Department</option>
            </select>
        </label>
    </div>
    <div>
        <label>Birthdate: <input th:field="*{birthdate}" type="date" name="birthdate" /></label>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>
</body>
</html>